---
layout: page
title: ./projects.xml
description: |
  Do I know what I'm doing?
  No, but that's no reason for me to not try it anyway.
---

{% assign projects = site.pages
  | where: "layout", "project"
  | sort: "created" | reverse %}

{% assign project_tags = projects | map: "tags" | uniq | sort_natural %}

<div class="flex justify-around center">
  {% for project in projects %}
  <article>
    {% assign archived = project.archived %}
    <div class="project {% if project.archived %}archived{% endif %}" {% if project.tags
      %}data-tags="{{ project.tags | join: ','}}" {% endif %}>
      {% if project.image %}
      <div class="project-image">
        <a href="{{ project.url }}">
          {% assign image_src = project.thumbnail | default: project.image %}
          {% assign file_ext = image_src | split: "." | reverse | first %}
          {% if file_ext == "mp4" %}
          <video class="project-video" src="{{ image_src }}" width="100%" autoplay loop muted></video>
          {% else %}
          <img class="project-image" src="{{ image_src }}" width="100%" alt="{{ project.title }}">
          {% endif %}
        </a>
      </div>
      {% endif %}
      <div class="project-title">
        <a href="{{ project.url }}">{{ project.title }}</a>
      </div>
      <div class="project-description">
        {{ project.description }}
      </div>
      <div>
        {% if project.created %}<span class="grey">{{ project.created | date_to_string }}</span>{% endif %}
        {% if project.created and archived %}|{% endif %}
        {% if archived %}<span class="yellow">Archived</span>{% endif %}
      </div>
      <div class="project-tags">
        {% assign tags = project.tags | sample: 3 %}
        {% for tag in tags %}
        <a class="project-tag" href="#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
  </article>
  {% endfor %}
</div>

<script>
  document.onreadystatechange = (e) => {
    if (document.readyState === 'complete') {
      const projectTags = document.querySelectorAll('.project-tag');
      const projectSelect = document.getElementById('project-select');

      let currentTag = projectSelect.value;

      const tagSelection = (e) => {
        const tag = e.target.hash?.slice(1) || e.target.value;
        const projects = document.querySelectorAll('.project');
        window.location = `#${tag}`;
        currentTag = tag;

        projects.forEach((project) => {
          const projectTags = project.dataset.tags.split(',');
          if ((tag === '' || projectTags.includes(tag))) {
            project.parentElement.style.display = 'block';
          } else {
            project.parentElement.style.display = 'none';
          }
        });
      };

      projectTags.forEach((tag) => {
        tag.addEventListener('click', (e) => {
          e.preventDefault();
          window.location.hash = e.target.hash
          projectSelect.value = e.target.innerText;
          tagSelection(e);
        });
      });

      projectSelect.addEventListener('change', (e) => {
        tagSelection(e);
      });

      //search.addEventListener('keyup', (e) => {
      //  const search = e.target.value.toLowerCase();
      //  const projects = document.querySelectorAll('.project');
      //  currentSearch = search;

      //  for (const project of projects) {
      //    const project = project.querySelector('.project-title');
      //    const projectTitle = project.innerText.toLowerCase();
      //    const projectTags = project.dataset.tags.split(',');

      //    const searchMatch = (currentTag === '' || projectTags.includes(currentTag));

      //    project.parentElement.style.display = searchMatch ? 'block' : 'none';
      //  }
      //});

      const tag = window.location.hash.substring(1);
      if (tag) {
        projectSelect.value = tag;
        tagSelection({ target: { value: tag } });
      }
    }
  }
</script>