{% comment %}
# Arguments

- alt: The alt text of the image.
- image: The image to link to. -> alt
- thumbnail: The thumbnail to show. -> image
{% endcomment %}

{% assign asset_path = includes.thumbnail | default: includes.image | relative_url %}

<a href="{{ includes.image | relative_url }}">
  <img loading="lazy" src="{{ includes.thumbnail | default: includes.image | relative_url }}"
    {%- if includes.alt %} alt="{{ includes.alt }}"{% endif -%}
    {%- if includes.title %} title="{{ includes.title }}"{% endif -%} />
</a>