{% comment %}
[Inputs]
- tag: string
- limit: int
{% endcomment %}

<div class="grid justify-around center">
  {% assign projects = site.pages
    | where: "layout", "project" | sort_natural: "title"
    | where: "tags", include.tag
    | where_exp: "page", "page.archived != true"
  %}

  {% for project in projects limit:3 %}
  <article>
    <div class="project">
      {% if project.image %}
      <div class="project-image">
        <a href="{{ project.url }}"><img width="100%" src="{{ project.image }}" alt="{{ project.title }}" /></a>
      </div>
      {% endif %}
      <div class="project-title">
        <a href="{{ project.url }}">{{ project.title }}</a>
      </div>
      <div class="project-description">
        {{ project.description }}
      </div>
      {% if project.created %}
      <div class="grey">{{ project.created | date_to_string }}</div>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</div>