{% comment %}
[Inputs]
- tag: string
- limit: int
{% endcomment %}

{% if include.tag %}{% assign tag_count = 2 %}{% else %}{% assign tag_count = 3 %}{% endif %}

<div class="flex justify-around center">
  {% assign projects = site.pages
    | where: "layout", "project" | where: "tags", include.tag
    | sort: "created" | reverse
    | where_exp: "page", "page.archived != true"
    | where_exp: "page", "page.show_on_homepage != false"
  %}

  {% for project in projects limit:3 %}
  <article>
    <div class="project">
      {% if project.image %}
        {% assign image_src = project.thumbnail | default: project.image %}
        {% assign file_ext = image_src | split: "." | reverse | first %}
        {% if file_ext == "mp4" %}
          <video class="project-video" src="{{ image_src }}" width="100%" autoplay loop muted></video>
        {% else %}
          <img class="project-image" src="{{ image_src }}" width="100%" alt="{{ project.title }}">
        {% endif %}
      {% endif %}
      <div class="project-title">
        <a href="{{ project.url }}">{{ project.title }}</a>
      </div>
      <div class="project-description">
        {{ project.description }}
      </div>
      {% if project.tags %}
        <div class="project-tags">
          {% if include.tag %}
            <a class="project-tag" href="{{ site.baseurl }}/projects#{{ include.tag }}">{{ include.tag }}</a>
          {% endif %}
          {% assign tags = project.tags | sample: tag_count %}
          {% for tag in tags %}
            <a class="project-tag" href="{{ site.baseurl }}/projects#{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if project.created %}
      <div class="grey">{{ project.created | date_to_string }}</div>
      {% endif %}
    </div>
  </article>
  {% endfor %}
</div>
