/* Query container styling */

.project-search {
  margin: 5px auto;
  max-width: 800px;
  padding: 1px 30px;
}

/* Tag handling */
.project-tag {
  margin: 5px;
  padding: 5px 0;
}

.project-tags .project-tag {
  color: lightseagreen;
  text-decoration: dashed;
}

.project-tag::before {
  color: grey;
  content: "#"
}

.project-tags :has(.project-tag) {
  list-style-type: none;
}

.project > * {
  font-size: 10cap;
}

select {
  position: relative;
  width: auto;
  float: left;
  max-width: 100%;
  border-radius: 2px;

  padding: 8px 24px 8px 10px;
}