<html>
  <head profile="https://www.w3.org/2005/10/profile">
  {% capture title -%}
    @{{ site.title | downcase }} $ {% if page.title %}{{ page.title | strip_html }}{% endif %}
  {%- endcapture %}
  {% assign description = page.excerpt | default: page.description | default: site.description | markdownify | strip_html %}
  {% assign image = page.image | default: site.github.owner_gravatar_url | absolute_url %}

  <!-- Primary Meta Tags -->
  <title>{{ title }}</title>

  <meta name="title" content="{{ title }}">
  <meta name="description" content="{{ description }}">
  <link rel="alternate" href="{{ site.url }}/atom.xml" type="application/atom+xml" title="{{ site.title }}">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | default: site.url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ image }}">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary">
  <meta property="twitter:url" content="{{ page.url | default: site.url }}">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">
  <meta property="twitter:image" content="{{ image }}">
  {% assign twitter = site.data.links.socials | find: "icon", "mdi:twitter" %}
  <meta property="twitter:creator" content="@{{ social.handle }}">

  <link rel="shortcut icon" href="{{ '/favicon.ico' | absolute_url }}" type="image/x-icon">

  <!-- Scripts and Styles -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&amp;display=swap">

  <script src="{{ '/assets/js/index.js' | absolute_url }}"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/styles/github-dark.min.css">
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/highlight.min.js"></script>
  <script src="https://unpkg.com/@highlightjs/cdn-assets@11.2.0/languages/powershell.min.js"></script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script>hljs.highlightAll();</script>
</head>

<body>
  <nav>
    <span class="prompt title"><span class="cmd"><b>sudo</b> begin --as junior</span></span>
    <ul>
      {% for el in site.data.links.navbar reversed %}
      <li>
        <a {% if page.url == el.target %}class="active" {% endif %}
          href="{{ el.target | absolute_url }}">{{ el.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  {{ content }}

  {% include footer.html %}
</body>

</html>
