<html>

<head profile="https://www.w3.org/2005/10/profile">
  {% capture title -%}
  @{{ site.title | downcase }} $ {% if page.title %}{{ page.title | strip_html }}{% endif %}
  {%- endcapture %}

  <!-- Primary Meta Tags -->
  <title>{{ title }}</title>

  <meta name="title" content="{{ title }}">
  <meta name="description" content="I'm not a tech... stop asking to fix your sh*t.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description"
    content="{{ page.excerpt | default: site.description }}">
  <meta property="og:image"
    content="https://github.com/{{ site.title | downcase }}.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ site.url }}">
  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description"
    content="{{ page.excerpt | default: site.description }}">
  <meta property="twitter:image"
    content="https://github.com/{{ site.title | downcase }}.png">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

  <!-- Scripts and Styles -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Mono&amp;display=swap">

  <script src="{{ '/assets/js/index.js' | absolute_url }}"></script>
  <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
</head>

<body>
  <nav>
    <span class="prompt title"><span class="cmd"><b>sudo</b> begin --as junior</span></span>
    <ul>
      {% for el in site.data.links.navbar reversed %}
      <li>
        <a {% if page.url == el.target %}class="active" {% endif %}
          href="{{ el.target | absolute_url }}">{{ el.label }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  {{ content }}

  {% include footer.html %}
</body>

</html>